*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
input{
    outline: none;
}
body{
    background: gainsboro;
}
#nav-header{
    background: brown;
}
#list-items{
    margin-top: 8px;

}
#list-items a{
    color: white;

}

#dropdown:hover, #dropdown:focus{
    background: brown;
}

#about{
    width: 100%;
    height: 500px;
    background: burlywood;
}
.navbar-brand{
   margin-top: 7px;

}
.navbar-brand span{
    color: white;
    font-size: 40px;
    text-align:center;
}
form #search-bar{
    margin-top: 16px !important;
}
.navbar-text p{
    color: white;
}

#client{
    width:100%;
    height: 500px;
    background: peru;
}
textarea {
    resize: none;
    border: none;
  }
#blog .latest{
    color: rgb(63, 134, 134);
    padding: 5px;
    box-shadow: 10px 10px 25px 5px grey;
}
.image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

textarea{
    width: 100%;
    line-height: 30px;
    font-size: 45px;
    outline: none;
}
textarea:focus{
    outline: 1px solid grey;

}
.recent{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.recent .recent-post{
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}
img{
    width: 25%;
    padding: 5px;
    max-height: 500px;
}
.recent .recent-1{
    width: 70%;
    padding: 10px;

}
@media (max-width:768px) {

   .recent-post{
      display: flex;
      flex-direction: column;
  }
  img{
      width: 100%;
     
  }
   .recent-post .recent-1{
      width: 100%;
  }
  .container .container-slide{
      width: 70%;
      margin: 0 auto;
  } 
}
details{
    padding:10px 20px;
    background-color: grey;
    display: inline-flex;
    color: white;
    font-size: 12px;

}